* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgba(0, 0, 0, 0.5);
    --orange-color: #E95A08;
}

/* Shared Codes */
body {
    /* font-family: "Noto Serif", serif; */
    font-family: "Inter", serif;
}

.container {
    max-width: 1140px;
    margin: auto;
}

a {
    text-decoration: none;
}

/* img {
    width: 100%;
} */

main>section,
.our-plants {
    margin-top: 100px;
}

.colorful-text {
    color: var(--orange-color);
}

.btn-primary {
    background-color: var(--orange-color);
    width: 100%;
    text-align: center;
    border: none;
    padding: 10px 50px;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.5s;
}

.btn-primary:hover {
    background-color: #bf4a06;
}

.title {
    font-size: 3rem;
    font-weight: bold;
    font-family: "Noto Serif", serif;

}

.description {
    font-size: 1rem;
    color: var(--primary-color);
}

.margin-bottom {
    margin-bottom: 100px;
}

/* Unique codes */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.logo {
    width: 135px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links li {
    color: var(--primary-color);
    font-size: 16px;
}

.banner {
    display: flex;
    align-items: flex-end;
}

.banner-content {
    max-width: 550px;
}

.banner-title {
    font-size: 4rem;
    font-weight: bold;
}



.banner-content .description {
    color: var(--primary-color);
    font-size: 1rem;
    max-width: 450px;
    margin-top: 16px;
}

.banner-img {
    flex: 1;
}

/* ------- Our Plants Section ----------- */
.our-plants {
    text-align: center;
}

.our-plants .description {
    max-width: 700px;
    margin: 16px auto;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px 20px;
}

.single-card img {
    max-height: 322px;
}

.card-body {
    text-align: center;
    padding: 20px;
}

.single-card .card-title {
    font-size: 1.4rem;
    font-weight: 700;
}

.single-card .price {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 10px;
}

/* Trusted Area */
.trusted {
    display: flex;
    gap: 50px;
    align-items: center;
    margin: 100px auto;
}

.images-area {
    position: relative;
    display: inline-block;
}

.trusted-img {
    display: block;
}

.trusted-icon {
    position: absolute;
    max-width: 250px;
    right: -90px;
    top: -90px;
    width: auto;
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); */
}

.trusted .trusted-text {
    max-width: 450px;
}

.trusted-text li {
    color: var(--primary-color);
    font-size: 1.25rem;
    margin: 20px 0;

}


/* Latest Deals */
.latest-deal-shop {
    display: flex;
    gap: 20px;
}

.shop-left {
    width: 30%;
}

.shop-left .shop-1 {
    background-image: url(../assets/deal-ana.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 220px;
    border-radius: 15px;
    position: relative;
    color: white;
}

.shop-left .shop-1::before,
.shop-left .shop-2::before,
.shop-right .shop-3::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(26, 25, 25, 0.4);
    /* orange with 40% opacity */
    z-index: 1;
}

.shop-left .shop-2 {
    background-image: url(../assets/deal-bloom.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 220px;
    border-radius: 15px;
    position: relative;
}

.shop-right {
    flex: 1;
}

.shop-right .shop-3 {
    background-image: url(../assets/deal-zabo.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 430px;
    border-radius: 15px;
    position: relative;
}

/* Email Section */
.email {
    width: 100%;
    height: 530px;
    background-image: url(../assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
}

.email-area input {
    display: inline-block;
}

.input-field {
    display: flex;
}

.email-area {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.email-area .email-title {
    font-size: 3rem;
    color: white;
    font-family: "Noto Serif", serif;
    margin-bottom: 20px;

}

.email-area input {
    width: 600px;
    padding: 15px;
    height: 50px;
    color: var(--primary-color);
    outline: none;
}

input:focus {
    border: 2px solid #E95A08;

}

.email-area .btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}