* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgba(0, 0, 0, 0.5);
    --orange-color: #E95A08;
}

/* Shared Codes */
body {
    /* font-family: "Noto Serif", serif; */
    font-family: "Inter", serif;
}

.container {
    max-width: 1140px;
    margin: auto;
}

a {
    text-decoration: none;
}

/* img {
    width: 100%;
} */

main>section,
.our-plants {
    margin-top: 100px;
}

.colorful-text {
    color: var(--orange-color);
}

.btn-primary {
    background-color: var(--orange-color);
    width: 100%;
    text-align: center;
    border: none;
    padding: 10px 50px;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.5s;
}

.btn-primary:hover {
    background-color: #bf4a06;
}

.dark-text {
    color: #252432;
    /* color: red; */
    font-weight: bold;
}

.title {
    font-size: 3rem;
    font-weight: bold;
    font-family: "Noto Serif", serif;

}

.description {
    font-size: 1rem;
    color: var(--primary-color);
}

.margin-bottom {
    margin-bottom: 100px;
}

.display-none {
    display: none;
}

/* Unique codes */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.logo {
    width: 135px;
    cursor: pointer;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links li {
    color: var(--primary-color);
    font-size: 16px;
}

.banner {
    display: flex;
    align-items: flex-end;
}

.banner-content {
    max-width: 550px;
}

.banner-title {
    font-size: 4rem;
    font-weight: bold;
}



.banner-content .description {
    color: var(--primary-color);
    font-size: 1rem;
    max-width: 450px;
    margin-top: 16px;
}

.banner-img {
    flex: 1;
}

/* ------- Our Plants Section ----------- */
.our-plants {
    text-align: center;
}

.our-plants .description {
    max-width: 700px;
    margin: 16px auto;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px 20px;
}

.single-card img {
    max-height: 322px;
}

.card-body {
    text-align: center;
    padding: 20px;
}

.single-card .card-title {
    font-size: 1.4rem;
    font-weight: 700;
}

.single-card .price {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 10px;
}

/* Trusted Area */
.trusted {
    display: flex;
    gap: 50px;
    align-items: center;
    margin: 100px auto;
}

.images-area {
    position: relative;
    display: inline-block;
}

.trusted-img {
    display: block;
}

.trusted-icon {
    position: absolute;
    max-width: 250px;
    right: -90px;
    top: -90px;
    width: auto;
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); */
    animation: spining 4s linear infinite
}

/* Animation Area */
@keyframes spining {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.trusted .trusted-text {
    max-width: 450px;
}

.trusted-text li {
    color: var(--primary-color);
    font-size: 1.25rem;
    margin: 20px 0;

}


/* Latest Deals */
.latest-deals {
    /* text-align: center; */

}

/* .latest-deals .description {
    max-width: 700px;
    margin: 0 auto 20px;
} */

.latest-deal-shop {
    display: flex;
    gap: 20px;
}

.shop-left {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.shop-left .shop-1 {
    background-image: url(../assets/deal-ana.png);
    background-repeat: no-repeat;
    width: 100%;
    /* height: 220px; */
    border-radius: 15px;
    position: relative;
    color: white;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    overflow: hidden;
}

.shop-left .shop-1::before,
.shop-left .shop-2::before,
.shop-right .shop-3::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(27, 22, 22, 0.4);
    z-index: 1;
    border-radius: 15px;
    /* match parent */
}

.shop-left .shop-text,
.shop-right .shop-text {
    color: white;
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: 500;

}

.latest-deal-shop a {
    color: white;
    text-decoration: underline;

    /* text-align: center; */
}

.shop-left .shop-2 {
    background-image: url(../assets/deal-bloom.png);
    background-repeat: no-repeat;
    width: 100%;
    /* height: 220px; */
    border-radius: 15px;
    position: relative;
    background-size: cover;
    background-position: center;
}

.shop-1,
.shop-2 {
    height: calc((430px - 20px) / 2);
}

.shop-right {
    flex-basis: 70%;
}

.shop-left .shop-1,
.shop-left .shop-2,
.shop-right .shop-3 {
    overflow: hidden;
    border-radius: 15px;
}

.shop-right .shop-3 {
    background-image: url(../assets/deal-zabo.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 430px;
    border-radius: 15px;
    position: relative;
    background-size: cover;
    background-position: center;
}

/* Email Section */
.email {
    width: 100%;
    height: 530px;
    background-image: url(../assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
}

.input-field {
    display: flex;
}

.email-area {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.email-area .email-title {
    font-size: 3rem;
    color: white;
    font-family: "Noto Serif", serif;
    margin-bottom: 20px;

}

.email-area input {
    width: 600px;
    padding: 15px;
    height: 50px;
    color: var(--primary-color);
    outline: none;
    display: inline-block;
}

input:focus {
    border: 2px solid #E95A08;

}

.email-area .btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}

/* ------Footer Section------- */
.footer-all-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 50px 0;
    align-items: flex-start;
}

.footer-all-links ul li {
    list-style: none;
    margin-bottom: 25px;
    color: var(--primary-color);
}

.footer-all-links .footer-social-links {
    display: inline-block;
    display: inline-flex;
    gap: 20px;
    cursor: pointer;
}

.footer-all-links .footer-nav-1 {
    margin-left: 70px;
}



/* Responsive for Mobile Device */
@media screen and (max-width: 576px) {

    .container {
        margin: 20px 20px;
    }

    .trusted-text ul {
        margin: 0 20px;
    }

    main>section,
    .our-plants {
        margin-top: 30px;
    }

    .nav-links li {
        display: none;
    }

    .nav-links li:nth-child(4) {
        display: block;
    }

    .banner {
        flex-direction: column-reverse;
        /* width: 100%; */
    }

    .banner-content {
        text-align: left;
    }

    .banner img {
        width: 100%;
        margin-bottom: 20px;
    }

    .banner-title,
    .title {
        font-size: 2rem;
    }

    .cards-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .cards-container img {
        width: 100%;
    }

    .trusted,
    .latest-deal-shop {
        flex-direction: column;
    }

    .trusted {
        margin: 30px auto;
        /* width: 100%; */
    }

    .trusted img {
        width: 90%;
        margin: auto;
    }

    .trusted .trusted-text {
        width: 90%;

    }

    .latest-deal-shop {
        gap: 20px;
        width: 100%;
    }

    .shop-left {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .shop-left,
    .shop-right {
        width: 100%;
    }

    .shop-1,
    .shop-2,
    .shop-3 {
        width: 100%;
        height: 220px !important;
    }



    .trusted-icon {
        display: none;
    }

    .email {
        margin: 0;
        background-size: cover;
        height: 300px;
    }

    .email-area input {
        width: 200px;
    }

    .email-area .btn-primary {
        width: 80px;
    }

    .email-area .email-title {
        font-size: 1.5rem;
    }

    .footer-all-links {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .footer-all-links .footer-nav-1 {
        margin-left: 0;
    }
}